<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boilerplate vite twig</title>
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
    <main class="container">
        {% block body %}{% endblock %}
    </main>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
    <script src="./scripts/jquery.js"></script>
    <script type="module" src="./react/main.jsx"></script>
    <script type="module" src="./react/react1.jsx"></script>
    <script type="module" src="./react/react2.jsx"></script>
    <script type="module" src="./react/blog-ssg.jsx"></script>
    <script type="module" src="./scripts/styles.js"></script>
</body>
</html>