{% extends "base.html.twig" %}

{% block body %}
   


    <h1 class="title">{{ title }}</h1>
    <h2 class="text-3xl font-bold underline">
      Tailwind underline
    </h2>
    {% include "../components/alert.html.twig" with {'content': 'An exemple of imported component with variable !'} %}

    <p>Adding image</p>
    <img src="./images/test.png" alt="Test image">

    <a class="mt-4 d-block" href="/about.html">Another page</a>
{% endblock %}
